.layout {
    width: 100%;
    height: 100%;
    background-color: #f5f7fa;
}

.header {
    background-color: #7a7ade;
    width: 100%;
    height: 500px;
}

.headline {
    display: flex;
    height: 80px;
    align-items: center;
    justify-items: center;
}

.headline .logo {
    font-size: 1.6em;
    color: white;
}

.headline .menu {
    margin-left: auto;
}
.headline .menu a {
    color: white;
    text-decoration: none;
}

.headline .menu a:global(.active) {
    font-weight: bold;
}

.section {
    width: 1024px;
    margin: 0 auto;
}
