.layout {
    width: 100%;
    height: 100%;
    background-color: var(--wet-stone);
}

.header {
    background-color: var(--signal-violet);
    width: 100%;
    height: 500px;
}

.headline {
    display: flex;
    height: 80px;
    align-items: center;
    justify-items: center;
}

.headline .logo {
    font-size: 1.6em;
    color: white;
    background: url("../static/keep-symbol.png") no-repeat;
    background-size: 50px;
    padding: 10px 0 10px 55px;
}

.headline .menu {
    margin-left: auto;
}
.headline .menu a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.headline .menu a:global(.active) {
    font-weight: bold;
}

.section {
    width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .section {
        width: 980px;
    }
}
