.info {
    display: grid;
    gap: 10px 20px;
    grid-template-columns: repeat(1, 1fr);
}

.item {
    display: flex;
    align-items: flex-start;
}

.label {
    color: #a1a1a1;
    width: 240px;
    padding-right: 10px;
}

.value {

}
