.inline {
    white-space: nowrap;
}

.status {
    display: inline-block;
    padding-right: 10px;
}
.timestamp {
    display: inline-block;
    font-size: .9em;
    color: #a1a1a1;
    margin-right: 5px;
}
.transaction {
    display: inline-block;
}

.confirmations {
    color: #a1a1a1;
    font-size: .9em;
}

.redeemLink {
    color: var(--signal-violet);
    font-size: 1em;
}

.redeemLink:after {
    width: 1em;
    height: 1em;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: 3px;
    background: url("static/icons/external-link.svg");
}
