.log {

}

.item {
    width: 40px;
    height: 40px;
    margin-top: 40px;
    position: relative;
    border-radius: 50%;
    background: var(--dry-stone);
    border: 1px solid var(--wet-stone);
}
.item:before {
    content: "";
    width: 3px;
    height: 40px;
    top: -41px;
    left: 18px;
    display: block;
    position: absolute;
    background: var(--wet-stone);
}
.item:after {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 11px;
    top: 11px;

}

.item.state__complete,
.item.state__complete:before {
    background: var(--electric-green);
    border-color: var(--electric-green);
}
.item.state__complete:after {
    fill: white;
    content: url("static/icons/check.svg");
}

.item:first-child {
    margin-top: 0;
}
.item:first-child:before {
    content: none;
}

.legend {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
}

.item.state__feature .legend {
    color: var(--wet-stone);
}

.inline {
    white-space: nowrap;
}

.status {
    display: inline-block;
    padding-right: 10px;
}
.timestamp {
    display: inline-block;
    font-size: .9em;
    color: #a1a1a1;
}
.transaction {
    display: inline-block;
}
.confirmations {
    color: #a1a1a1;
    font-size: .9em;
}
