import React, { FC } from 'react'
{{#if includeStyle}}
import styles from './{{dashCase file}}.less'
{{/if}}

type {{name}}Props = {

}

export const {{name}}: FC<{{name}}Props> = ({children, ...props}) => {
    return (
        <div className={styles.root} {...props}>{children}</div>
    )
}
