.row.row {
    height: 70px;
    display: flex;
    align-items: center;
}
.cell__id {
    width: 30%;
}
.cell__status {
    width: 30%;
}
.cell__address {
    text-align: right;
    width: 25%;
}
.cell__value {
    width: 130px;
    padding: 0 15px;
    text-align: right;
}

.list {
    height: 700px;
}
