@import "../../../theme";

.title {
  color: var(--dry-stone);

  .address {
    padding-top: 7px;
    display: block;
    font-size: 20px;

    @media (max-width: @tablet) {
      font-size: 14px;
    }
  }
}


.row {
  margin-top: 20px;
}

.indexer_link {
  position: absolute;
  right: 15px;
  top: 15px;

  &:after {
    height: 1em;
    width: 1em;
    content: "";
    margin-left: 3px;
    display: inline-block;
    background: url("static/icons/external-link.svg") no-repeat;
    vertical-align: middle;
  }
}
