@import "../../../theme";

.root {
    display: flex;
    align-items: center;

    @media (max-width: @tablet) {
        align-items: start;
        flex-wrap: wrap;
    }
}

.cell {

    &__lastSeen {
        width: 300px;
        text-align: center;

        & .date_ago {
            font-size: 0.9em;
        }
    }

    &__stats {
        width: 300px;
        text-align: center;
        margin-left: auto;
    }

    @media (max-width: @tablet) {
        &__id {
            flex-grow: 1;
        }
        &__lastSeen {
            width: 150px;
        }
        &__stats {
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }
    }
}
