.graphs_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 40px;

}

.stats__grid {
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
}


.lists_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

@media screen and (max-width: 1280px) {
    .graphs_grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .lists_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .graphs_grid {
        grid-template-columns: 1fr;
    }

    .lists_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .graphs_grid {
        gap: 20px;
        margin-bottom: 20px;
    }

    .lists_grid {
        gap: 20px;
    }
}
