.area {
    display:inline-flex;
    min-width: 471px;
    border-radius: 4px;
    border: 2px solid var(--castle-black);
}

.body {
    font-size: 1.2em;
    padding: 8px 10px;
    text-align: center;
    display:inline-flex
}

.copy {
    flex-shrink: 0;
    width: 40px;
    cursor: pointer;
    padding: 9px 10px 5px;
    font-size: 1.2em;
    /*background: var(--castle-black);*/
}
.dapp {
    font-size: 1.2em;
    cursor: pointer;
    padding: 9px 10px 5px 0;
}
