.title {
    color: var(--dry-stone);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.title .tdt {
    padding-left: 20px;
}

.title .action {
    margin-left: auto;
}

.stat {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
    grid-template-columns: 230px 300px 1fr;
}

.stat_card {
    height: 120px;
}
.stat_body {
    padding-top: 0;
}

.stat_volume {
    text-align: right;
}

.stat_volume_head {
    font-size: 1.4em;
}

.stat_volume_sub {
    font-size: 1em;
    display: inline-block;
    color: #a1a1a1;
}

.created_at {
    font-size: 1.4em;
}

.details {
    margin-bottom: 20px;
}
